In [1]:
import pandas as pd

users = pd.read_csv("users.csv")
users

      name
0    後藤 正幸
1    三川 健太
2     山下 遥
3     楊 添翔
4    清水良太郎
5    鈴木 佐俊
6     阪井優太
7     山極綾子
8     浅野正和
9     石井達也
10    磯村時将
11    木村恵悟
12     清水成
13    泓亜由乃
14    松岡龍汰
15    森川卓哉
16    水谷美穂
17    阿部太一
18   渡邊真己子
19    布目悠人
20    三好観悠
21     大岩将
22  小笠原のりこ
23    櫻井洸介
24    鈴木一央
25    長命祥吾
26    藤原大喜
27    宮島健悟
28    更家崚介
29    宮崎　凜
30    高　振宇
31    上向崇裕
32     呉 昊
33     李 柯
34    高橋和真
35     朝海柊
36    上田咲希
37    蟹江太一
38    狩野湧誠
39    澤永遥加
40    諏訪晴哉
41    永見陽輝
42     堀田南